.product-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 18px;
  background-color: var(--white);
}

.add-item {
  font-size: 1rem;
}

h3 {
  margin: 0 0 .3rem;
}