@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root {
  --cream: #f3f1ea;
  --white: #ffffff;
  --red: #781b24;

  --font-family: "Bricolage Grotesque", sans-serif;
}

body {
  margin: 5rem 10%;
  font-family: var(--font-family);
  background-color: var(--cream);
}

button {
  padding: .5rem 1rem;
  font-family: var(--font-family);
  border: none;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--red);

  transition: .2s;

  &:hover {
    cursor: pointer;
    filter: brightness(1.1);
  }
}
